@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F0F1F4;
  min-height: 100vh; /* will cover the 100% of viewport */
  display: block;
  position: relative;
  padding-bottom: 70px; /* height of your footer */
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

p, label {
  color: #656F82;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  font-size: 14px;
  font-weight: 400;
}
.convert {
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .convert {
    max-width: 50%;
  }
}

.nav-link, .navbar-brand {
  color: #202BFF; 
}

.nav-link:hover, .navbar-brand:hover {
  color: #202BFF; 
  opacity: 0.8;
}

/* Banner */

#top-banner {
  background-color: #202BFF;
  min-height: 5px;
}

#top-banner p, #top-banner a {
  color: #fff;
}

#top-banner a {
  text-decoration: underline;
}

/* Table */

@media only screen and (min-width: 600px) {
  table {
    max-width: 60%;
  }
}

table {
  margin: 0 auto;
  background-color:  #fff;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(235,235,235,1);
  -moz-box-shadow: 10px 10px 5px -5px rgba(235,235,235,1);
  box-shadow: 10px 10px 5px -5px rgba(235,235,235,1);
}

/* Footer */

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .footer ul {
    margin-left: -50px;
  }

  .footer ul li {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .footer ul li {
    margin-right: 50px;
    float: right;
  }
}

.footer ul li {
  display: inline-block;
  list-style: none;
}

a {
  color: black;
}