@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F0F1F4;
}

h2 {
  font-size: 32px;
}

p, label {
  color: #656F82;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Table */

table {
  margin: 0 auto;
  max-width: 60%;
  background-color:  #fff;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(235,235,235,1);
  -moz-box-shadow: 10px 10px 5px -5px rgba(235,235,235,1);
  box-shadow: 10px 10px 5px -5px rgba(235,235,235,1);
}

/* Footer */

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
}

@media only screen and (max-width: 600px) {
  .footer ul {
    margin-left: -50px;
  }

  .footer ul li {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .footer ul li {
    margin-right: 50px;
    float: right;
  }
}

.footer ul li {
  display: inline-block;
  list-style: none;
}

a {
  color: black;
}